@model IEnumerable<INF272Del3.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductInfo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductAddDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Size)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BestBefore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender.Gender1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductCategory.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductColor.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductCondition.Condition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductType.ProductType1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductInfo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductAddDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Size)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BestBefore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender.Gender1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductCategory.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductColor.Color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductCondition.Condition)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductType.ProductType1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProductID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProductID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProductID })
        </td>
    </tr>
}

</table>
