@model IEnumerable<INF272Del3.Models.User>

@{
    ViewBag.Title = "Index";
}

<style>
 body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html { overflow-y: scroll; }


  }
</style>
<h2>Users</h2>

<p>
    @Html.ActionLink("Create New", "Create")<br /><br />
    @Html.ActionLink("Back", "AdminLogged", "Home")
</p>
<table class="table">
    <tr>
        <th>
            Firstname
        </th>
        <th>
            Lastname
        </th>
        <th>
            Email Adress
        </th>
        <th>
            Cellphone Number
        </th>
        <th>
            Date Added
        </th>
        <th>
            Username
        </th>
        <th>
            Password
        </th>
        <th>
            Remaining Points
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GUID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GUIDExpiry)
        </th>
        <th>
            Gender
        </th>
        <th>
            Profile Status
        </th>
        <th>
            User Rights
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserSurname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserAdded)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PW)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserPoints)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GUID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GUIDExpiry)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender.Gender1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status.UserStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserType.UserType1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserID }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserID })
        </td>
    </tr>
}

</table>
