@model IEnumerable<INF272Del3.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserSurname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserAdded)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PW)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserPoints)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GUID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GUIDExpiry)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender.Gender1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status.UserStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserType.UserType1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserSurname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserAdded)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PW)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserPoints)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GUID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GUIDExpiry)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender.Gender1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status.UserStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserType.UserType1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserID }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserID })
        </td>
    </tr>
}

</table>
